<header>
    <!-- <div>
        <p style="color: white; font-size: 2rem;" th:text="${gym.name}"></p>
    </div> -->

    <div style="display: flex; justify-content: center;">
        <img src="/images/blockhouse_logo.png" alt="logo" class="blockhouse-logo" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-links" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Settings
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" th:href="@{/user/user_settings(gymId=${gym.id})}">Profile</a></li>
                            <li><button class="dropdown-item" style="background:none; border:none; cursor:pointer" onclick="logout()">Logout</button></li>
                        </ul>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>
    <div class="user-text">
        <!-- <p th:text="${loggedInUser.name}"></p> -->
    </div>
</header>