<div id="loading-overlay" class="loading-block" style="display: none">
    <!-- <div id="loading-overlay" class="loading-block" style="display: block"> -->
    <div class="loading-dialogue">
        <h2>Processing Request</h2>
        <!-- <img src="/images/wilbus-icon.png" alt="Wilbis Icon" class="advisor-avatar"> -->
        <div class="loading-animation-div">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
